[Unit]
Description=AMQP Publisher
After=network.target sensorDriver.service
Requires=network.target sensorDriver.service
Documentation= https://wiki.sj.ifsc.edu.br/index.php/Guilherme_Anderson-PJI2-2020-1

[Install]
WantedBy=multi-user.target

[Service]
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
ExecStart=/usr/sbin/mainPublisherAMQP.py
